<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
<body class="container">
    <h1>Coding Events</h1>
    <header th:replace="~{fragments :: header}"></header> <!-- primul argument se refera la numele fisierului si al doilea la numele fragmentului -->
</body>

<footer th:fragment="footer" class="footer mt-auto py-3 bg-light text-center">
    <div class="container d-flex align-items-center justify-content-center">
        <span class="text-muted">Inginerie Software 2024</span>
    </div>
</footer>
</html>