<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragmentUser :: head}"></head>

<body class="d-flex flex-column min-vh-100">
<div class="container">
    <h1 class="h3 mb-3 fw-normal">Login page</h1>
    <p th:if="${loginError}" class="alert alert-danger">Wrong user or password</p>

    <form th:action="@{/login}" method="post" class="form-signin">
        <div class="form-floating">
            <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" placeholder="Username" />
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
            <label for="password">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
</div>

<footer th:replace="~{fragmentUser :: footer}" class="footer mt-auto py-3 bg-light text-center">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh; border: 1px solid black;">
        <span class="text-muted">Inginerie Software 2024</span>
    </div>
</footer>



</body>
</html>