<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
<body class="container">

<header th:replace="~{fragments :: header}"></header>


<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${event.id}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.eventDetails.description}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>
</table>

<a th:href="'/events/add-tag?eventId=' + ${event.id}">Add Tag</a>

<footer th:fragment="footer" class="footer mt-auto py-3 bg-light text-center">
    <div class="container d-flex align-items-center justify-content-center">
        <span class="text-muted">Inginerie Software 2024</span>
    </div>
</footer>
</body>
</html>